body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Avenir;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerContainer {
  height: 250px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #26547C;
}

.icon {
  height: 75px;
  width: auto;
}

.headerText {
  font-size: 75px;
  color: whitesmoke;
}

.headerOptions {
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 20px;
  color: #FFD166;
}

.headerOptions:hover {
  color: rgb(255, 244, 219);
}

.selectorContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65vh;
  align-items: center;
  justify-content: space-between;
}

h3 {
  margin: 0em;
  height: 10%;
}

.dropdownContainer {
  height: 45%;
  width: 60%;
  margin-top: 3em;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dropdowns {
  background:#FFFFFF;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(209, 209, 209, 0.808);
  margin-top: 1em;
  width: 15em;
  height: 40px;
}

#weatherLink {
  margin-top: 1em;
  height: 3em;
  max-height: 3em;
}

.getWeatherButton {
  position: relative;
    top: .5em;
    padding: .5em;
    font-size: 1.25em;
    border-radius: 1em;
    background: #06D6A0;
    color: white;
}

.getWeatherButton:hover {
  text-decoration: none;
  color: #25547C;
}

.getWeatherButton:active {
  margin-top: .05em;
  margin-left: .15em;
  border: 1px inset;
}

h2 {
  padding-top: 1.2em;
  position: relative;
}

.curWeaComp {
  display: flex;
  position: relative;
  bottom: 1.5em;
  margin-top: 0px;
  font-size: 20px;
  padding: 1em;
  background: #FCFCFC;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgb(161, 161, 161);
  justify-content: space-around; 
  align-items: center;
  text-align: center;
}

.resContainer {
  display: flex;
  flex-direction: column;
  height: 175px;
  width: auto;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

.location {
  font-family: 'avenir';
  font-size: 45px;
}

.temp {
  font-family: 'avenir';
  font-size: 30px;
}

.description {
  font-family: 'avenir';
  font-size: 20px;
}

.weatherIcon {
  width: 75px;
  height: auto;
}